.container {
    width: 100%;
    position: relative;
}
.button{
    opacity: 0;
}

.select{
    width: 130px;
    height: 40px;
    border: 1px solid #999;
    font-size: 14px;
    color: #1f1f1f;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    letter-spacing: inherit;
    word-spacing: inherit;
}


body{
    background: #fdfbf5;
}
.add-table{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.bt{
    background: #f65050;
    box-shadow: 4px 4px #ccc;
}

.update-button {
    width: 78.5%;
    height: 45px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    box-shadow: 4px 4px #ccc;
    cursor: pointer;
    border: 1px #ced9ff solid;
    border-radius: 10px;
    background: #d7d7d7;
}

.update-button:hover {
    opacity: 0.8;
}

.update-button:focus {
    margin-left: 3px;
}

#up{}